h1{
    font-size: 70px;
    margin: 2rem;
    color: #1da6f0;
    text-decoration: underline #036BA3;
}

input{
    background-color: #ffa033;
    border: none;
    width: 3.2rem;
    margin: 0em 1rem 0em 1rem;
    color: white;
    font-size: 20px;
    text-align: center;
}

.calificaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calificaciones a{
    height: 3rem;
    width: 35rem;
    background-color:#ffa033;
    margin: 1rem 0em;
    border-radius: 2rem;
}
.calificaciones a:nth-child(even){
    background-color: #1da6f0;
}

div.no-data{
    margin-top: 25vh;
    transition: all 1s;
}
div.data{
    margin-top: 0;
}

