/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Pacifico regular';
    src: url(./assets/fonts/Pacifico-Regular.ttf);
}
@font-face {
    font-family: 'Caprasimo Regular';
    src: url(./assets/fonts/Caprasimo-Regular.ttf);
}
@font-face {
    font-family: 'Umbounded Semi-Bold';
    src: url(./assets/fonts/Unbounded-SemiBold.ttf);
}

html, body { height: 100%; }

body{
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root{
    height: 100%;
    display: flex;
    flex-direction: column;
}
app-home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 3.8rem;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1da6f0;
    color: white;
    font-size: 18px;
    text-decoration:none;
    -webkit-transition: all 0,5s;
    -moz-transition: all 0,5s;
    transition: all 0.5s;
}

h1,p{
    text-align: center;
    margin: 0px;
}
p{
    font-size: 32px;
    color: #2c4d58;
}

a:hover{
    background-color: #036ba3;
    font-size:20px;
}

a:hover:nth-child(even){
    background-color: #f28c19;
}

header a:nth-child(even){
    background-color: #fda033;
}
span{
    display: flex;
    justify-content: center;
    align-items: center;
}
span div {
    display: flex;
    width: 17rem;
    height: 4rem;
    background-color: #ffa033;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10rem;
    font-size:25px;
    margin: 1rem 0rem 2.5rem 0rem;
}
.mat-dialog-container {
    border-radius: 20px !important;
  }
.makeItMiddle .mat-dialog-container{
    border-radius: 1000px !important;
}